<!DOCTYPE html>
<html>

<head> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Negra</title>
</head>
<header>
    <div class="header__banner-img">
        <!--   <img src="/img/imgPda/potreroDeGaray-lagoVeleros.jpg" >
 -->
    </div>

</header>

<body>

    <section>
        <div class="casaNegra__main">
            <div >
                <img src="/img/logo 2.png" class="logo__img">
            </div>
            <!-- CASA NEGRA -->
            <div class="casaNegra__grid-container">
                <div class="casaNegra__title">
                    <!-- TITULO -->
                    <h2>Casa Negra</h2>
                    <p class="casaNegra__title">8 huéspedes • 4 dormitorios • 2 baños</p>
                </div>

                <div class="casaNegra__dormitorios">
                    <!-- ICONOS DORMITORIOS -->
                    <img src="/img/imgCasaNegra/dormitorio1.jpg">
                    <img src="/img/imgCasaNegra/dormitorio2.jpg">
                    <img src="/img/imgCasaNegra/dormitorio3.jpg">
                    <img src="/img/imgCasaNegra/dormitorio3.jpg">
                </div>
                <div>

                </div class="casaNegra__carrusel-imgStatic">
                <img src="/img/imgCasaNegra/galeria_1.jpg" class="casaNegra__carrusel-imgStatic" >

                <div class="casaNegra__carrusel">
                    <!-- CARRUSEL IMAGENES CASA -->
                    <img src="/img/imgCasaNegra/galeria_1.jpg">
                    <img src="/img/imgCasaNegra/galeria_1.jpg">
                    <img src="/img/imgCasaNegra/galeria_1.jpg">
                </div>
                <div class="casaNegra__queOfrecemos">
                    <!-- QUE OFRECEMOS? -->
                    <h3>¿Qué ofrecemos?</h3>
                    <ul>
                        <li>Pileta con solarium</li>
                        <li>Asador completo con horno chileno y bifera</li>
                        <li>Galeria completamente equipada con muebles para exterior</li>
                        <li>Cocina con equipamiento de alta calidad</li>
                        <li>Acceso a las amenities del Country</li>
                        <li>Acceso a exclusiva costa del lago Los Molinos</li>
                        <li>Salamanda a leña</li>
                        <li>Calefación con equipos de frio/calor en toso los ambientes</li>
                        <li>Sábanas y toallas</li>
                    </ul>
                    <a id="underline__link-laCasa" data-modal-target="#modal-servicio">Ver todos los servicios</a>
                    <br>
                    <br>
                    
                    <a type="button" class="btn btn-dark btn-block" href="/reservationForm">Reservar</a>
                </div>

            </div>
            <div class="casaNegra__ubicacion-container">
                <div>
                    <h2>¿A dónde estamos? </h2>
                    <div>
                        <h4>Puerto del Aguila </h4>
                        <h5>Potrero de Garay • Córdoba</h5>
                    </div>
                    <p>
                        Un barrio cerrado y tranquilo, donde dejar las puertas abiertas para que entre el aire serrano es un programa, mas que un problema. Con vista al lago y acceso privilegiado a una de las playas mas amplias y  vibrantes del paisaje cordobes. Las actividades nauticas como el kitesurf son una escena corriente del paisaje y las playas virgenes de los tantos ríos de la zona, una actividad imposible de perderse
                    </p> 
                    <button type="button" class="btn btn-dark btn-block">¿Que hacer en la zona?</button>
                </div>
                <div>
                    <img src="/img/imgPda/mapa.jpg">
                </div>


            </div>
        </div>

    </section>
    <footer>
        <div>
            <img src="/img/logo 2.png" class="logo__img">
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="footer__banner"></div>
        <br>
        <br>



    </footer>
    <%- include ("partial/indexModal.ejs")%>

</body>
<script src="js/indexModal.js"></script>
</html>