<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Negra</title>
</head>
<header>
    <div class="header__banner-img">
        <!--   <img src="/img/imgPda/potreroDeGaray-lagoVeleros.jpg" >
 -->
    </div>

</header>

<body>

    <section>
        <!-- LOGO Y ENCABEZADO -->
        <div class="header__container">
            <h1>Tu lugar para vivir las Sierras</h1>
            <p>Potrero de Garay - Córdoba</p>

        </div>
        <!-- MAIN SECTION -->
        <div>

            <!-- LOGO CASA NEGRA -->
            <div>
                <img src="/img/logo 2.png" class="logo__img">
            </div>

            <!-- GRID -->
            <div class="section__grid">

                <!-- NOSOTROS  -->
                <div class="nosotros__container">
                    <div class="nosotros__grid-container">
                        <div class="nosotros__text-container">
                            <h2>Nosotros</h2>
                            <p>Queremos que nuestros huéspedes disfruten de las Sierras Grandes con la mejor vista desde
                                un
                                lugar
                                que
                                permite llegar en pocos minutos a los paisajes mas escondidos y exclusivos del Valle de
                                Calamuchita
                            </p>
                        </div>

                    </div>
                    <div class="nosotros__container-img">
                        <img src="/img/imgCasaNegra/galeria_1.JPG" class="nosotros__img"><!--  -->
                        <div id="nosotros__container--desktop">

                            <img src="/img/imgCasaNegra/galeria_1.JPG">
                            <img src="/img/imgCasaNegra/asador.JPG">
                            <img src="/img/imgCasaNegra/pileta.JPG">
                            <img src="/img/imgCasaNegra/frente_casa.JPG">
                        </div>
                    </div>
                </div>

                <!-- A DONDE -->
                <div class="aDonde__container">
                    <div class="aDonde__text-location">
                        <div>
                            <div class="aDonde__text-container">
                                <h2>A Donde</h2>
                                <p>Estamos en Puerto del Aguila, un exclusivo club de campo al pie del lago Los Molinos
                                    en
                                    la
                                    comuna
                                    de
                                    Potrero de Garay.</p>
                                <ul>
                                    <li><i class="fas fa-arrow-up"></i>A 20´ de Villa General Belgrano </li>
                                    <li><i class="fas fa-arrow-up"></i>A 10´ del Los Reartes </li>
                                    <li><i class="fas fa-arrow-up"></i>A 30´ del Santa Rosa </li>
                                    <li><i class="fas fa-arrow-up"></i>A 40´ de La Cumbrecita </li>
                                </ul>
                                <a id="underline__link-ubicacion">Ver ubicacion</a>
                                <!--  poner ruta para ir a ubicacion -->
                            </div>
                        </div>
                        <div class="aDonde__container-img">
                            <img src="/img/imgPda/velero.jpg" class="ubicacion__img"><!--  -->
                            <div>

                                <img src="/img/imgPda/cancha-tenis.jpg">
                                <img src="/img/imgPda/potreroDeGaray-caballos.jpg">
                                <img src="/img/imgPda/espacio_comun.jpg">
                                <img src="/img/imgPda/club_house.jpg">


                            </div>
                        </div>
                    </div>

                    <!-- LA CASA -->
                    <div class="laCasa__text-location">
                        <div class="laCasa__text-container">
                            <h2>La Casa</h2>
                            <p>Con 4 dormitorios y capacidad para 8 huéspedes, la casa tiene una amplia galería con vista al
                                lago,
                                asador con horno chileno y bífera, pileta con solárium y un amplio jardín con especies
                                autóctonas
                                que se funden con las sierras de fondo.</p>
                            <a id="underline__link-laCasa">Ver todos los servicios</a>
                            <!-- poner ruta para ir a servicios -->
                            <img src="/img/imgCasaNegra/galeria_1.JPG"><!--  -->
    
                            <button type="button" class="btn btn-dark btn-block">Reservar</button>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <div>
            <img src="/img/logo 2.png" class="logo__img">
        </div>
        <br>
        <br>

        <img src="/img/imgPda/potreroDeGaray-paisaje.jpg">

    </footer>


</body>

</html>