

<!--         <div class="modal-servicion" id="modal-servicion"> -->
            <!-- VENTANA MODAL SERVICIOS -->
<!-- 
            <div class="modal-servicio__inner">
                <div class="modal-servicio__top">
                    <button type="button" class="modal-servicio__close" data-close-button="close-button"><span
                            class="material-icons">close</span></button>
                </div>
             
                <div class="modal-servicio__main">


                    <h3>¿Que ofrece este lugar?</h3>
                    <h4>Baño</h4>
                    <ul>
                        <li>Dos baños completos con ducha (sin bañera) </li>
                        <li>Bañera para bebe (solicitar) </li>
                        <li>Juegos de toallas blancas (uno por pasajero, renovable cada 5 dias) </li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>Dormitorios y lavadero</h4>
                    <ul>
                        <li>Servicio de ropa blanca(toallas, sabanas, jabon liquido y papel higienico) </li>
                        <li>Perchas </li>
                        <li>Caja de seguridad </li>
                        <li>Plancha</li>
                        <li>Dos camas de dos plazas </li>
                        <li>Cuatro camas de 1 plaza </li>
                        <li>Practicuna (a pedido) </li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>Entretenimiento</h4>
                    <ul>
                        <li>wifi dedicado (muy buena velocidad)</li>
                        <li>Smart TV en living comedor</li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>Cocina</h4>
                    <ul>
                        <li>Vajilla y cubiertos para 8 pax</li>
                        <li>Horno electrico empotrado</li>
                        <li>Anafe a induccion</li>
                        <li>Extractor</li>
                        <li>manteles e indivuduales</li>
                        <li>Minipimmer</li>
                        <li>Tostadora</li>
                        <li>Cafetera</li>
                        <li>Pava electrica </li>
                        <li>Microondas </li>
                        <li>Heladera con freezer</li>
                        <li>Detergente, esponja, repasadores y productos de limpieza</li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>Climatizacion y calefaccion</h4>
                    <ul>
                        <li>Aires acondicionados frio/calor en todos los ambiente</li>
                        <li>Ventiladores de techo en dormitorios </li>
                        <li>Salamandra a leña en living comedor</li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>Galeria y jardin</h4>
                    <ul>
                        <li>Asador con horno chileno a gas y plancha bifera</li>
                        <li>Mesa para 12 comensales en galeria</li>
                        <li>juego completo de sillones de galeria con almohadones </li>
                        <li>Pileta de natacion con solarium seco y humedo</li>
                        <li>Reposeras plasticas tipo sillon para pileta</li>
                        <li>Jardin Parquizado</li>
                        <li>Espacio para estacionar varios autos (sin techar)</li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>Servicios</h4>
                    <ul>
                        <li>Disponible para estadias largas </li>
                        <li>Check in y check out automaticos </li>
                        <li>Servicio de limpieza (no incluido en el monto, pero puede gestionarse aparte)</li>
                        <li>Laverrap en el complejo (con costo a cargo del huesped)</li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>NO incluye</h4>
                    <ul>
                        <li>Lavarropas </li>
                        <li>Secador de pelo</li>
                        <li>Sombrilla y reposeras para playa</li>
                        <li>Lavaplatos </li>
                        <li>Camaras de seguridad en la propiedad</li>
                        <li>Shampoo</li>
                    </ul>
                    <span class="modal-servicio__linea"></span>
                    <h4>Servicios Country</h4>
                    <ul>
                        <li>Pileta de uso comun al borde del lago</li>
                        <li>Bar restaurant</li>
                        <li>Cancha de vóley</li>
                        <li>Cancha de futbol </li>
                        <li>Canchas de tenis</li>
                        <li>Kayaks a disposicion para utilizar en el lago</li>
                        <li>Servicio de bajada de lancha</li>
                        <li>Seguridad 24 hs</li>
                    </ul>
                </div>
            </div>
        </div> 



 -->