
    *{
        font-family: 'Raleway', sans-serif;
        list-style-type: none
    }
    h1{
        padding:0;
        margin: 0;

    }


    a{
        text-decoration: none;
    }
   
    html{
        scroll-behavior: smooth;
    }
    /* HEADER*/
    .header__banner-img{
        background-image: url(../img/imgPda/potreroDeGaray-lagoVeleros.jpg);
        height: 68vh;
        background-size: cover;
        background-position: bottom;
    }
    .logo__img{
        width: auto;
        height: 10vh;
        margin: auto;
        display: block;
    }
    .header__container{
        text-align: center;
        padding: 1em;
        /* margin-top: 1em; */
        /* margin-bottom: 1em; */
        flex-basis: 10%;
    }
    /* MAIN GRID */
    .nosotros__img, .ubicacion__img, .laCasa__img{
        border-radius: 1em;
        /* margin-top: 0.5em; */
        /* margin-bottom: 0.5em; */
        /* padding-bottom: 0.5em; */
    }
    .nosotros__img{
        display: grid;
    }



    .aDonde__text-container  {

    align-items: center;
    padding-top: 1em;
    padding-left: 0.5em;

    } 

    #underline__link-laCasa, #underline__link-ubicacion{
        text-decoration: underline;
        font-weight: bold;
        padding-top: 1em;
        align-self: flex-start;
        cursor:pointer
    }
    /*FOOTER */

    .footer__banner{
        background-image: url(../img/imgPda/potreroDeGaray-paisaje.jpg);
        height: 68vh;
        background-size: cover;
        background-position: bottom;

    }
    
    @media screen and (max-width: 1020px){  
    
        h2{
            margin-bottom: 1em;
            text-align: center;
        }    
    section{
        padding: 10%;
        padding-top: 0;
        }
        
    .nosotros__container--desktop, .ubicacion__container--desktop{
        background-color: red;
        display:none
    }
    #nosotros__container--desktop img{
    
        display:none
    }
    .aDonde__img{
        border-radius: 2em;
        padding-top: 0.5em;
        padding-bottom: 0;
        margin-bottom: 1.5em;
       }


    }
    @media screen and (min-width: 1021px){  /* DESKTOP */
       /* GENERALES */
        h2{
            margin-bottom: 0.5em;
            text-align: center;
            /* color:red; */
        }   
        /* INDEX */
        .index__main{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        #nosotros__container--desktop{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column: 2/3;
            align-items: center;
        }
        #nosotros__container--desktop img{
            border-radius: 0.5em;
            padding: 0.25em;
         
            height: 100%;
        }
        .nosotros__container-img, .aDonde__container-img{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 1/5;
        }
  
        .nosotros__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        width: 68em;
     
        }
        
        .nosotros__grid-container{

        grid-column: 3/5;
       
        }
        .nosotros__text-container, .aDonde__text-container, .laCasa__text-container{
        display: flex;
        flex-direction: column;
        height: max-content;
   
        margin-top: 2em;
        padding: 0.5em;
        max-height: fit-content;
        }
        .aDonde__text-container{
            align-items: flex-start;
        }
        .aDonde__grid-container{
            grid-column:1/3
        }
        .aDonde__container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto 1fr;
            width: 68em;
        }
        .aDonde__text-location{
            grid-column: 1/3;
           
        }
        .aDonde__img{
         border-radius: 0.5em;
         padding-bottom: 0;
         margin-top: 0.5em;
         margin-bottom: 0.5em;
        }
        #aDonde__title-position{
            align-self: center;
 
        }
        .laCasa__text-location{
          grid-column: 3/5;
          grid-row: 1/2;
        }
        .modal-servicio.active{
            background-color: rgba(0,0,0,0.5);/* ver si desde el overlay se puede pooner el gris de fondo */
            position: fixed;
            top: 0px;
            left:0;
            width: 100vw;
            height:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 0;
        }
        .modal-servicio{
        display:none


        }
        .modal-servicio__inner{
            /* position: fixed; */
            top: 10%;
            background-color: white;
            overflow-y: auto; /* permite hacer scroll */
            width: 55%;
            padding: 3em;
            border-radius: 2em;
            margin: 5vh 0vh;
            line-height: 2em;
        }
        .modal-servicio__inner h4{
            margin: 3vh 0;
            font-weight: bold;
        }
        .modal-servicio__top{
            display:flex;
            justify-content: right;
            /* position: fixed; */
            left: 69%;
        }
        
        .modal-servicio__close{
            display:flex;
            border:none;
            background-color: white;
            color:grey;
            cursor: pointer;
        }
        .modal-servicio__close:hover{
            color:black;
            font-weight: bold;
        }
        .modal-servicio__linea{
            border-bottom: 1px solid #dbdbdb;
            display:block;
        }
        #overlay{
      /*       position:fixed; */
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color: rgba(0,0,0,0.4);
            opacity:0;
        
        }
        #overlay.active{
      /* pointer-events: none; */
      opacity: 1;
      background-color:red;
      }
 
        /* CASA NEGRA */
        .casaNegra__main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .casaNegra__grid-container{
            display: grid;
            grid-template-columns: 1.5fr    1fr;
            grid-template-rows: auto auto  auto auto;
            width: 68em;
            position: relative;
        }
        .casaNegra__title{
            grid-column: 2/3;
            grid-row: 1/2;
            text-align: center;
        }
        .casaNegra__dormitorios{
            grid-column: 2/3;
            grid-row:2/3;
            height: auto;
            width:auto;
            padding-left: 1em;
        }
        .casaNegra__dormitorios img{
            height: 8em;
            width:auto;
        }
        .casaNegra__carrusel{
            grid-column: 1/2;
            grid-row: 4/5
        }
        .casaNegra__carrusel img{
         height: 10em;
         margin-top: 1em

         
        }
        .casaNegra__queOfrecemos{
            grid-column: 2/3;
            padding-left: 1.5em;
            grid-row: 3/5;
        }
        .casaNegra__queOfrecemos li{
            list-style-type: disc;
            list-style-position: inside;
           
            
        }
        
        .casaNegra__carrusel-imgStatic{
            grid-row:2/4

        }
        .casaNegra__ubicacion-container{
            grid-template-columns: 0.5fr 1fr;
            display:grid;
            grid-template-rows: 1fr;
            width: 68em;
            padding-top: 2em;
            padding-bottom: 4em;
        }
        .casaNegra_map-position{
            grid-column:2/3
        }
    }
        
        
        